{% extends "basic/layout.html" %}

{% block extrahead %}
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ pathto('_static/ie6.css', 1) }}" type="text/css" media="screen" charset="utf-8" />
<![endif]-->

<!-- <link rel="stylesheet" href="{{ pathto('_static/featured.css', 1) }}"> -->

{% if theme_favicon %}
<link rel="shortcut icon" href="{{ pathto('_static/'+theme_favicon, 1) }}" />
{% endif %}
{% endblock %}

{%- block document %}
    <div class="{{pagename}}">
      {{ super() }}
    </div>
{%- endblock %}

{# override upper relbar to show our navigation menu #}
{% block relbar1 %}
<div class="wrapper">
{#  <a href="{{ pathto('index.html', 1) }}"><img src="{{ pathto('_static/%s.%s' % ('banner', 'jpg'), 1) }}" height="180px" alt="Thetis Project Banner" /></a>#}

  <a href="{{ pathto('index.html', 1) }}"><img src="{{ pathto('_static/%s.%s' % ('banner', 'png'), 1) }}" height="68px" alt="Thetis Project Banner" /></a>
  <div id="access">
    <div class="menu">
      <ul>
{#        <li class="page_item"><a href="{{ pathto('documentation.html', 1) }}" title="Thetis documentation">Documentation</a></li>
        <li class="page_item"><a href="{{ pathto('download.html', 1) }}" title="Install Thetis">Download</a></li>
        <li class="page_item"><a href="{{ pathto('%s.%s' % ('team', 'html'), 1) }}" title="Development team">Team</a></li>#}

        <li class="page_item"><a href="{{ pathto('index.html', 1) }}"  title="Introduction">Introduction</a></li>
        <li class="page_item"><a href="{{ pathto('research.html', 1) }}"  title="Research">Research</a></li>
        <li class="page_item"><a href="{{ pathto('news.html', 1) }}"      title="News">News</a></li>
        <li class="page_item"><a href="{{ pathto('publications.html', 1) }}"title="Publications">Publications</a></li>
        <li class="page_item"><a href="{{ pathto('opportunities.html', 1) }}"   title="Opportunities">Opportunities</a></li>
        <li class="page_item"><a href="{{ pathto('collaborators.html', 1) }}" title="Getting in touch">Collaborators</a></li>
        <li class="page_item"><a href="{{ pathto('contact.html', 1) }}" title="Getting in touch">Contact</a></li>
{#        <li class="page_item"><a href="https://github.com/thetisproject/thetis" title="Thetis source on GitHub">GitHub</a></li>
{#        <li class="page_item"><a href="https://jenkins.ese.ic.ac.uk:1080/blue/organizations/jenkins/thetisproject%2Fthetis/activity" title="Thetis build status">Jenkins</a></li> #}
      </ul>
    </div><!-- .menu -->
  </div><!-- #access -->
</div><!-- #wrapper -->
{% endblock %}

{# do not display lower relbar #}
{% block relbar2 %}{% endblock %}

<p>&nbsp;</p>
<div class="">
<div>
<div class="" style="margin: 0cm 0cm 0.0001pt;">
<div class="" style="font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin: 0cm 0cm 0.0001pt;"><strong class=""><span class="" style="color: #004631;">Dr Athanasios Angeloudis</span></strong></div>
<div class="" style="text-align: start; text-indent: 0px; margin: 0cm 0cm 0.0001pt;"><strong class=""><span class="" style="color: #004631; font-family: Calibri, sans-serif;"><span class="" style="font-size: 14.666666984558105px;">Lecturer in Water Engineering &amp; NERC Research Fellow</span></span></strong></div>
<div class="" style="text-align: start; text-indent: 0px; margin: 0cm 0cm 0.0001pt;">&nbsp;</div>
<div class="" style="text-align: start; text-indent: 0px; margin: 0cm 0cm 0.0001pt;"><span class="" style="font-family: Calibri, sans-serif; font-size: 11pt;">School of Engineering | Institute for Infrastructure &amp; the Environment | University of Edinburgh</span></div>
<div class="" style="caret-color: #000000; color: #000000; font-family: Calibri, sans-serif; font-size: 11pt; font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; text-decoration: none; margin: 0cm 0cm 0.0001pt;">Room 1.06 William Rankine Building | <span class="LrzXr">Thomas Bayes Road | King's Buildings</span> | EH9 3FG | Scotland | UK</div>
<div class="" style="font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin: 0cm 0cm 0.0001pt;">Tel: +44 (0)7912612941|&nbsp;<a class="" href="mailto:A.Angeloudis@ed.ac.uk"><span class="" style="color: windowtext;">A.Angeloudis@ed.ac.uk</span></a>&nbsp;|&nbsp;<span class="" style="color: windowtext;"><a class="" style="color: #954f72;" href="http://www.eng.ed.ac.uk/" target="_blank">http://www.eng.ed.ac.uk</a></span></div>
<p><a class="reference internal" href="https://thangel.github.io/_images/uoe.png"><img style="height: 70px;" src="https://thangel.github.io/_images/uoe.png" alt="UoE" /></a></p>
<p dir="ltr"><a href="https://www.facebook.com/SchoolOfEngineering.UoE"><span style="color: blue;">Facebook</span></a> | <a href="https://twitter.com/SchoolOfEng_UoE"><span style="color: blue;">Twitter</span></a> | <a href="https://www.youtube.com/SchoolOfEngUoE"><span style="color: blue;">Youtube</span></a> | <a href="http://www.linkedin.com/company/university-of-edinburgh-school-of-engineering"> <span style="color: blue;">LinkedIn</span></a></p>
<p><span style="font-size: 9.0pt;">The University of Edinburgh is a charitable body, registered in Scotland, with registration number SC005336.</span></p>
</div>
</div>
</div>
</div>

{# do not display sidebars #}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
