div.toggle .header {
    background-color: #eee;
    height: 30px;
    color: #000;
    cursor: pointer;
    width: 78vw;
    text-align: left;
    padding: 10px;
    border: none;
    outline: none;
    white-space: nowrap;
    transition: 0.5s;
}

div.toggle .header p {
  display: inline;
  font-family:Georgia, serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
  height: 100px;
  font-size: 18px;
}

div.toggle2 .header {
    background-color: #eee;
    height: 30px;
    color: #000;
    cursor: pointer;
    width: 78vw;
    text-align: left;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.5s;}

div.toggle2 .header p {
  font-family:Georgia, serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
  font-size: 18px;
  display: inline;
}

div.toggle .header:before {
    content: ">  ";
}

div.toggle .header.open:before {
    content: "∨  ";
}

.toggle2 .header:before {
    content: "∨  ";
}

.toggle2 .header.open:before {
    content: ">  ";
}


.center {text-align: center;}

img {
    border: 0;
    max-width: 100%;
    border-radius: 0px;
}


div.note2 {
    width: 78vw;
    border: 2px solid #9b3717;
    border-right-style: none;
    border-left-style: none;
    padding: 5px 10px 5px 5px;
    background: #f8e8df;
}

div.leftside {
  width: 50px;
  padding: 5px 10px 5px 10px;
  float: left;
  height: 50px;
}

div.rightside {
  padding: 5px 20px 5px 5px;
  margin-left: 2%;
  height: 50px;
  min-height: 8vh;
}

/*
.filter-pdf{
    filter: invert(7%) sepia(97%) saturate(5749%) hue-rotate(359deg) brightness(94%) contrast(86%);
    width:25px;
  }*/
