div.toggle .header {
    background-color: #eee;
    height: 30px;
    color: #000;
    cursor: pointer;
    width: 99%;
    text-align: left;
    padding: 10px 2px 10px 5px;
    border: none;
    outline: none;
    white-space: nowrap;
    transition: 0.5s;
}

div.toggle .header p {
  display: inline;
  /*font-family:Georgia, serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;*/
  height: 100px;
  font-size: 18px;
}

div.toggle2 .header {
    background-color: #eee;
    height: 30px;
    color: #000;
    cursor: pointer;
    width: 99%;
    text-align: left;
    padding: 10px 2px 10px 5px;
    border: none;
    outline: none;
    transition: 0.2s;}

div.toggle2 .header p {
  /*font-family:Georgia, serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;*/
  font-size: 18px;
  display: inline;
}

div.toggle .header:before {
   font-family: "FontAwesome";
   content: "\f105";
   display: inline-block;
   padding-right: 3px;
   padding-left: 3px;
   vertical-align: middle;
   font-weight:900;
}

div.toggle .header:hover{
  background-color: #9b3717;
  color: white;
}



div.toggle .header.open:before {
   font-family: "FontAwesome";
   content: "\f107";
   display: inline-block;
   vertical-align: middle;
   font-weight:900;
}

div.toggle2 .header:before {
   font-family: "FontAwesome";
   content: "\f107";
   display: inline-block;
   padding-right: 3px;
   padding-left: 3px;
   vertical-align: middle;
   font-weight:900;
}

div.toggle2 .header.open:before {
   font-family: "FontAwesome";
   content: "\f105";
   display: inline-block;
   padding-right: 3px;
   padding-left: 3px;
   vertical-align: middle;
   font-weight:900;
}

div.toggle .header:hover{
  background-color: #9b3717;
  color: white;
}
div.toggle2 .header:hover{
  background-color: #9b3717;
  color: white;
}

div.copylink{
  padding: 10px 2px 10px 4em;
}

div.copylink:before {
   font-family: "FontAwesome";
   color: #700827 ;
   content: "\2003 \f0c1 \2003";
   display: inline-block;
   font-size: 1.3em;
   margin-left: -3.0em; /* same as padding-left set on li */
   vertical-align: middle;
   font-weight:10;
}

div.researchgatelink{
  padding: 10px 2px 10px 4em;
}

div.researchgatelink:before {
   font-family: "FontAwesome";
   color: #700827 ;
   content: "\2003 \f4f8 \2003";
   display: inline-block;
   font-size: 1.3em;
   margin-left: -3.0em; /* same as padding-left set on li */
   vertical-align: middle;
   font-weight:10;
}

div.pythonlink{
  padding: 10px 2px 10px 4em;
}

div.pythonlink:before {
   font-family: "FontAwesome";
   color: #700827 ;
   content: "\2003 \f3e2 \2003";
   display: inline-block;
   font-size: 1.3em;
   margin-left: -3.0em; /* same as padding-left set on li */
   vertical-align: middle;
   font-weight:10;
}

.center {text-align: center;}


div.notegrey {
    font-weight:0.7em;
    width: 99%;
    border: 1.5px solid #737373;

    border-right-style: none;
    border-left-style: none;
    padding: 2px 2px 2px 5px;
    background: #eaeaea;
}

div.note2 {
    width: 99%;
    border: 1.5px solid #9b3717;
    border-right-style: none;
    border-left-style: none;
    padding: 2px 2px 2px 5px;
    background: #f8e8df;
}

div.leftside {
  width: 50px;
  padding: 5px 10px 5px 10px;
  float: left;
  margin-left: 2%;
  height: 50px;
}

div.rightside {
  padding: 5px 20px 5px 5px;
  margin-left: 2%;
  min-height: 50px;
}


.filter-pdf{
    filter: invert(7%) sepia(97%) saturate(5749%) hue-rotate(359deg) brightness(94%) contrast(86%);
    width:20px;
    margin: 0 auto;
  }

div.min-section{
  min-height: 200px;
}

/*Navigation panel*/

/* Add a black background color to the top navigation */

div.topnav {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: hidden;
  min-width:400px;
  width: 94vw;
  padding:20px;
  /*border-bottom: 1.2px solid #000000;*/
  transition: 0.5s;
}

/* Style the links inside the navigation bar */

div.topnav label{
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  margin-left: -3em;
  text-align: right;
  line-height: 1.2em;
  padding: 10px 2px 10px 0px;
  display: none;
  transition: 0.5s;
}

div.topnav label:hover{
  background-color: #9b3717;
  color: white;
}


#nav_toggle {display: none;}

.menu{
  text-align: center;
  float:none;
}

.menu a {
  background-color: white;
  color: #333;
  text-decoration: none;
  font-size: 1.0em;
  padding:0.75em 0.5em 0.75em 0.5em;
  transition: 0.5s;
}

.menu a:hover {
  background-color: #9b3717;
  color: white;
}

#sticky {
  width: -moz-available;
  background-color: white;
  position: fixed;
  z-index:10;
  border-bottom: 0.3px solid #000000;
  border-bottom-color: lightgray;
}


@media screen and (max-width:800px) {

  div.topnav {
    /*border-bottom:none;*/
    width: -moz-available;
    border-bottom: 0.3px solid #000000;
    border-bottom-color: lightgray;
  }

  div.topnav label{
    margin: 0.2em 0.0em 0.2em 0em;
    text-align: right;
    width: 100%;
    display: block;
    cursor: pointer;
  }

  .menu{
    width: 100%;
    background-color: white;
    display: none;
    text-align: left;
  }

  .menu a{
    display: block;
    background-color: white;
    text-align: left;
    border-bottom: 0.3px solid #000000;
    border-bottom-color: lightgray;
    margin: 0;
  }

  .menu a:hover {
  background-color: #9b3717;
  color: white;
  }

  #nav_toggle:checked + .menu {
    transition: 0.5s;
    display: block;
  }

  div.sidebar {
    display: block;
    border: 1px solid #9b3717;
    border-right-style: none;
    border-left-style: none;
    background: #f8e8df;
    width: 99%;
  }
}

.imagerow {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    min-height: 170px
}

#images{
    text-align:center;
}

div.myimg{
  object-fit:cover;
  overflow: hidden;
  border-radius:50%;
}

div.profileleft {
  display: inline-block;
  vertical-align: text-top;
  align-items: top;
  width: 300px;
  font-weight:800;
  font-size: 1.2em;
  text-align: center;
  padding: 0px 3px 0px 0px;
}
div.profileright {
  display: inline-block;
  text-align: justify;
  vertical-align: text-top;
  width: calc(100% - 320px);
}


@media screen and (max-width:1000px) {

div.profileleft {
  display: inline-block;

  align-items: top;
  width: 100%;
  font-weight:600;
  font-size: 1.1em;
  text-align: center;
  padding: 0px 3px 0px 0px;
}

div.profileright {
  width: 100%;
}
}