.toggle .header {
    background-color: #eee;
    height: 18px;
    color: #444;
    cursor: pointer;
    width: 850px;
    text-align: left;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.5s;}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}
